body{
    background-color: #3B3B3B;

}

.container {
    display: flex;
    align-items: flex-start; /* Aligns items at the top */
    height: 100vh;
}

#leftPanel {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
    height: 100%;
    width: 17vw;
}

.webEm-logo {
    margin: 0 auto;
    margin-top: 6vw;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.684vw;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    height: 5.4vw;
    margin-bottom: 0.9vw;
    color: white;

}

.centerButton {
    display: flex;
    align-items: center;
    justify-content: center;

}

.regularpanel {
    margin-top: 1.5vw;
    display: flex;
}

.icon {
    margin-left: 2vw; 
    margin-top: 0.7vw;
}

svg {
    margin-left: 1vw;
}

.toppaddeddiv {
    display: flex;
    padding-top: 20px;
}

.rightPanel {
    flex: 1;
}

.rightPanelRectangle {
    flex-grow: 1;
    height: 100%;
    border-radius: 20px;
    background: #676767;
    padding: 30px;
    margin: 3vh;
    overflow: hidden;
    position: relative;
}

.rightPanelRectangle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #37476D;
}

.topColumnContainer {
    display: flex;
}

#topColumnDateAndTime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px
}

#topColumnProfile {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-grow: 8;
}

.profileCircle {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    margin-right: 10px;
}
.space {
    width:500px;
}